{% extends "_layout.html" %}

{% block nav-contacts %}active{% endblock %}
{% block nav-contacts-link %}#{% endblock %}

{% load static %}

{% block content %}
    <div class="col-md-3 logo-image-container"><a href="http://urfu.ru"><img class="logo-image" src="{% static 'img/urfu.jpg' %}"/></a></div>
    <div class="col-md-3 logo-image-container"><a href="http://imkn.urfu.ru"><img class="logo-image" src="{% static 'img/imkn.jpg' %}"/></a></div>
    <div class="col-md-3 logo-image-container"><a href="https://vk.com/crassirostris"><img class="logo-image" src="{% static 'img/vk.jpg' %}"/></a></div>
    <div class="col-md-3 logo-image-container"><a href="https://twitter.com/crassirostris"><img class="logo-image" src="{% static 'img/twitter.png' %}"/></a></div>
{% endblock %}