{% extends "_layout.html" %}

{% block nav-gallery %}active{% endblock %}
{% block nav-gallery-link %}#{% endblock %}

{% load static %}

{% block content %}
    <div class="image-previews-container">
        {% for image in images %}
            <div class="image-preview-animation image-preview" style="background-image: url({{ image.preview_href }});" full-image="{{ image.href }}">
            </div>
        {% endfor %}
    </div>

    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-image-container">
            <div class="modal-content">
                <img id="modalImage" class="modal-image" src="" alt="This is an image, don't you see?">
            </div>
        </div>
    </div>
{% endblock %}